* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
  @font-face {
    font-family: 'MyCustomFont';
    src: url('font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
:root {
    --main-font: 'MyCustomFont', Arial, sans-serif;
    --yellow: #ffc107;
    --red: #ff5733;
    --dark-gray: #333;
    --white: #ffffff;
}
body {
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: var(--main-font);
	margin: 0;
	padding: 0;
	height: 100vh;
    background: var(--white);
    background-attachment: fixed; /* Чтобы фон не прокручивался */
    margin-top: 0;
}
h1 {
    font-family: var(--main-font);
    font-size: 2.5em;
    font-weight: bold;
}
p {
    font-family: var(--main-font);
    font-size: 1.2em;
}
html, body {
    overflow-x: hidden;
    max-width: 100%;
}
